@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
    --claro: #fff;
    --link: #1760c8;
    --bg-escuro: #262533;
    --bg-claro: #0a3a7e;
}

* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #175082;
}

a {
    color: var(--claro);
}


/* Menu Módulos */

.menu h1 {
    font-size: 2rem;
    padding-bottom: .6rem;
    padding-top: 1rem;
}

.menu p {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
}

/* Container */

.container-header {
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--bg-escuro);
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.escuro {
    background: var(--bg-escuro);
}

/* Menu */

.menu h1 {
    color:#fff;
}

.menu h3 {
    color:#fff;
}

.menu p {
    color:#fff;
}

.menuss {
    position: fixed;
    right:0;
    transition: 0.8s ease-in-out;
    width: 300px;
    height: 100vh;
    background: var(--bg-escuro);
    z-index:2;
}

.menussHidden {
    position: fixed;
    right:0;
    transition: 0.8s ease-in-out;
    width: 300px;
    height: 100vh;
    margin-right: -300px;
    background: var(--bg-escuro);
    z-index:2;
}

#menu {
    transition: 0.8s ease-in-out;
    background: var(--bg-escuro);
    z-index:2;
}

#menu a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

#menu ul li {
    display: block;
    padding: 2rem;
    transition: .8s ease-in-out;
    list-style: none;
}

#menu ul li:hover {
    background: var(--bg-claro);
}

/* Navegtação */

.nav {
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    z-index:3;
    background-color: rgba(24, 38, 85, 0.408);
}

.nav .logo img {
    left:0;
    height: 98px;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(max-width:500px) {
    .nav .logo img {
        left:0;
        height: 90px;
        cursor: pointer;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.nav .menu {
    width:90px;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-escuro);
    color: var(--claro);
    font-size: 1.3rem;
    cursor: pointer;
    transition: .7s ease-in-out;
    opacity: 1;
}

@media(max-width:500px) {
    .nav .menu {
        position: fixed;
        right:0;
        top:0;
    }
}

.nav .menu:hover {
    opacity: 0.5;
}

/* Header */

.header {
    background: var(--bg-escuro);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 750px;
}

.header h1 {
    color: #ffd94e;
}

.header a {
    color: #fff;
    text-decoration: none;
}

@media(max-width:500px) {
    .header {
        grid-template-columns: 1fr;
        height: auto;
    }
}

.header .imoveis {
    background-image: url('../imgs/imoveis.jpg');
    background-size: 100%;
    background-position: center;
    color: var(--claro);
    padding: 5rem;
    transition: .5s ease-in-out;
}

@media(max-width:500px) {
    .header .imoveis {
        background-size: cover;
    }
}

.header .imoveis:hover {
    background-size: 110%;
}

.header .imoveis h1 {
    margin-top: 35%;
    font-size: 3rem;
    text-transform: uppercase;
}

.header .imoveis p {
    margin-top: .5rem;
}

.header .gestao {
    background-image: url('../imgs/ativos.jpg');
    background-size: 100%;
    background-position: center;
    color: var(--claro);
    padding: 5rem;
    transition: .5s ease-in-out;
}

@media(max-width: 500px) {
    .header .gestao {
        background-size: cover;
    }
}

.header .gestao:hover {
    background-size: 110%;
}

.header .gestao h1 {
    margin-top: 35%;
    font-size: 3rem;
    text-transform: uppercase;
}

.header .gestao p {
    margin-top: .5rem;
}

/* Imóveis */

.imoveis-bg {
    color: #fff;
    padding: 1rem;
    background: rgba(23,97,200,1);
    background: -moz-linear-gradient(top, rgba(23,97,200,1) 0%, rgba(89,150,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,97,200,1)), color-stop(100%, rgba(89,150,235,1)));
    background: -webkit-linear-gradient(top, rgba(23,97,200,1) 0%, rgba(89,150,235,1) 100%);
    background: -o-linear-gradient(top, rgba(23,97,200,1) 0%, rgba(89,150,235,1) 100%);
    background: -ms-linear-gradient(top, rgba(23,97,200,1) 0%, rgba(89,150,235,1) 100%);
    background: linear-gradient(to bottom, rgba(23,97,200,1) 0%, rgba(89,150,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1761c8', endColorstr='#5996eb', GradientType=0 );
}

.imoveis-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.imoveis-lista .imovel {
    background-size: 100% auto;
    background-position: top center;
    height: 350px;
    transition: .5s ease-in-out;
}

.imoveis-lista .imovel:hover {
    background-size: 103% auto;
}

.imoveis-lista .imovel .ctd {
    height: 320px;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    background: rgba(23,97,200,0);
    background: -moz-linear-gradient(top, rgba(23,97,200,0) 0%, rgba(89,150,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,97,200,0)), color-stop(100%, rgba(89,150,235,1)));
    background: -webkit-linear-gradient(top, rgba(23,97,200,0) 0%, rgba(89,150,235,1) 100%);
    background: -o-linear-gradient(top, rgba(23,97,200,0) 0%, rgba(89,150,235,1) 100%);
    background: -ms-linear-gradient(top, rgba(23,97,200,0) 0%, rgba(89,150,235,1) 100%);
    background: linear-gradient(to bottom, rgba(23,97,200,0) 0%, rgba(89,150,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1761c8', endColorstr='#5996eb', GradientType=0 );
}

.imoveis-lista a {
    text-decoration: none;
}

.imoveis-lista .imovel .ctd .dados h1 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.imoveis-lista .imovel .ctd .dados p {
    width: 100%;
    margin-top: .3rem;
}


/* Oferecemos */

.oferecemos {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 3rem 0rem;
    color: var(--claro);
}

@media(max-width:500px) {
    .oferecemos {
        grid-template-columns: 1fr;
        padding: 1.2rem 1.2rem 2rem 1.2rem;
    }
}

.oferecemos .img img {
    height:500px;
    transition: .5s;
    width:100%;
    height: 500px;

}

.oferecemos .img img:hover {
    transform: scale(1.1);
}

.oferecemos .item {
    margin-top: 2.2rem;
}

.oferecemos .item h1 {
    padding-bottom: .9rem;
}

.oferecemos .item i {
    background: #ffa733;
    padding: 1rem;
    border-radius: 40%;
}

/* Cobrança */

.cobranca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding-bottom: 5rem;
}

@media(max-width:500px) {
    .cobranca {
        display: flex;
        flex-direction: column;
        padding: 1.2rem;
    }
}

.cobranca .menu {
    grid-column: 1/3;
    padding-top: 1rem;
}

.cobranca .item {
    color: #fff;
}

@media(max-width:500px) {
    .cobranca .item {
        margin-bottom: 1.2rem;
    }

}

.cobranca .item h1 {
    font-size: 2.2rem;
}

.cobranca .item h1 i {
    color: #ffd105;
}

/* adicionais */

.adicionais {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding-bottom: 5rem;
}

.adicionais .menu {
    grid-column: 1/3;
    padding-top: 1rem;
}

.adicionais .item {
    color: #fff;
}

.adicionais .item h1 {
    font-size: 2.2rem;
}

.adicionais .item h1 i {
    color: #ffd105;
}

@media(max-width:500px) {
    .adicionais {
        display: block;
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .adicionais .item {
        padding-bottom: 1.2rem;
    }

}


/* Condominial */

.condominial {
    color: #fff;
    padding-top: 1.8rem;
    padding-bottom: 3rem;
}

@media(max-width:500px) {
    .condominial {
        padding: 1rem;
    }
}

.condominial .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
}

@media(max-width:500px) {
    .condominial .items {
        grid-template-columns: 1fr 1fr;
    }
}

.condominial .item {
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
    border-radius: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    padding: .5rem;
    text-shadow: 2px 2px #000
}

@media(max-width:500px) {
    .condominial .item:nth-last-child(1) {
        displaY: none;
    }

}

.swiper-pagination {
    color: white;
}

.swiper-button-next {
    background: #000;
    border-radius: 30%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    padding: .5rem;
}

.swiper-button-prev {
    background: #000;
    border-radius: 30%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    padding: .5rem;
}

/* Vantagens */

.vantagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    grid-gap: 2rem;
    padding-bottom: 3rem;
}

@media(max-width:500px) {
    .vantagens {
        display: flex;
        flex-direction: column;
        padding: 1.2rem;
    }
}

.vantagens .menu {
    grid-column: 1/3;
}

.vantagens .condominio .item {
    border-radius: 1rem;
    padding: .7rem;
    transition: 1s ease-in-out;
}

.vantagens .condominio .item:hover {
    background: #e0c630;
}

.vantagens .sindico .item {
    border-radius: 1rem;
    padding: .7rem;
    transition: 1s ease-in-out;
}

.vantagens .sindico .item:hover {
    background: #e0c630;
}

/* Contato */

.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding-bottom: 3rem;
}

@media(max-width: 500px) {
    .contato {
        display: grid;
        grid-template-columns: 1fr;
    }

    h1 {
        padding-left: 1rem;
    }

    p {
        padding-left: 1rem;
    }
}

.contato .menu {
    grid-column: 1/3;
}

@media(max-width:500px) {
    .contato .formulario {
        grid-column: 1/3;
        padding: 1.2rem;
        width: 88%;
    }
}

.contato .formulario input {
    width:100%;
    margin-bottom: 1rem;
    border:0;
    padding: 1rem 1rem 1rem 0rem;
    text-indent: 1rem;
    background: var(--bg-claro);
    color: #fff;
    border-radius: .2rem;
}

.contato .formulario textarea {
    width:100%;
    margin-bottom: 1rem;
    border:0;
    padding: 1rem 1rem 1rem 0rem;
    text-indent: 1rem;
    background: var(--bg-claro);
    color: #fff;
    border-radius: .2rem;
}

.contato .formulario button {
    width:100%;
    border:0;
    background: rgb(27, 27, 27);
    color: #fff;
    padding: 1rem;
    border-radius: 0.2rem;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.contato .formulario button:hover {
    background: blue;
}

.contato .dados {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    align-items: center;
    grid-gap: 2rem;
}

@media(max-width:500px) {
    .contato .dados {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }
}

.contato .dados img {
    width: 80px;
}


.contato .dados p {
    font-size: 0.9rem;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--claro);
}

.footer img {
    height: 90px;
}

.footer .sociais i {
    padding: .3rem;
    font-size: 1.4rem;
    transition: .5s ease-in-out;
}

.footer .sociais i:hover {
    color: var(--link);
}